{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see
 */
#}
<div class="container">
  <h2 class="mt-5 mb-5">
    FH
    <small class="text-muted">Sight management</small>
  </h2>

  <form{{ attributes }}>
    {{ children }}
  </form>
</div>
